__pycache__/
/media/*
*/media/
*.py[cod]

# IDE Settings
.idea/
.vscode/
.devcontainer/
.DS_Store

collected_static
*.ipynb
*.tgz
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
src/
venv/
!*/migrations/__init__.py
+.idea/vcs.xml
/htmlcov/
.coverage
.pytest_cache

api/.env
api/.env.production

log
static/
staticfiles/

.env