.box {
    background: rgba(0, 0, 0, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(0, 0, 0, 0.43);
}
